.course-page{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}